.top-container{
    margin-top: 40px;
}

.below-sign-up{
    margin-top: 50px;
    margin-bottom: 30px;
}

.landing-background-top {
  background:url(../img/bg-computer.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}


.navbar.landing-page {
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
    padding-top: 10px;


}

.transparent-landing{
  background:#7f7f7f;
  background:rgba(255,255,255,0.1);
}

.navbar-default{
    box-shadow: none;
}

.promo {
    margin-top: -80px;
}

.nav-logo{
    max-width: 60%;

}